$font-generic: "Avenir";

body {
  margin: 0;
  padding: 0;
  font-family: $font-generic;
}

h1 {
  margin:0;
  padding: 0;
  font-size: 24px;
}

svg {
  padding: 2px 5px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

path.mosaic {
  fill: none;
  stroke: #2c89a0;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}

text {
  font-family: Menlo;
  font-size: 9px;
  text-anchor: end;
}